%h1 "Praise the Lord; for the Lord is good: sing praises unto his name; for it is pleasant”
%h2 (Psalms 135:3)
%hr
- @gratitudes.each do |g|
  %p= "#{g.text} - #{g.user_name}, #{time_ago_in_words(g.created_at)} ago"
